/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
/.phpunit.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
auth.json
/.fleet
/.idea
/.vscode
